.table {
  width: 90%;
}

.table td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 5px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table th {
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #43d4ee;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.back-btn {
  background-color: rgb(48, 144, 199);
  padding: 10px 20px 10px 20px;
  align-items: right;
  border-radius: 5px;
  border: none;
  margin-left: 95%;
  font-weight: bold;
  cursor: pointer;
}

.btn-edit {
  margin-left: 10px;
  background-color: seagreen;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: none;
  margin-right: 5px;
  font-weight: bold;
  cursor: pointer;
}
.btn-delete {
  background-color: rgb(185, 8, 8);
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: none;
  margin-left: 5px;
  font-weight: bold;
  cursor: pointer;
}
